<div class="container p-3">
  <h4>Phone Verification</h4>

  <form [formGroup]="otpForm">
    <div class="mb-2">
      <label>Phone Number</label>
      <input formControlName="phoneNumber" class="form-control" placeholder="2519XXXXXXXX" />
    </div>

    <button (click)="requestOtp()" class="btn btn-primary" [disabled]="loading || !otpForm.controls['phoneNumber'].valid">
      Send OTP
    </button>

    <div *ngIf="showCodeInput" class="mt-3">
      <label>Enter OTP Code</label>
      <input formControlName="code" class="form-control mb-2" maxlength="6" />

  
    </div>

    <div *ngIf="message" class="mt-3 alert alert-info">
      {{ message }}
    </div>
  </form>
</div>
