<nav class="navbar navbar-expand-lg  bg-info ">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 fs-3">
            <li class="nav-item">
                <a *ngIf="role === 'User'" class="nav-link" routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
              </li>
           <li class="nav-item">
              <a  *ngIf="role === 'Admin'" class="nav-link" routerLink="/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Dashboard</a>
            </li>
                
              <li class="nav-item">
                <a *ngIf="role === 'User'" class="nav-link" routerLink="/register" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Register</a>
              </li>
              <li class="nav-item">
              <a *ngIf="role === 'User'" class="nav-link" routerLink="/appointment" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Appointments</a>
         
            <li class="nav-item">
              <a *ngIf="role === 'Admin'" class="nav-link" routerLink="/appointmentaction" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">AppointmentAction</a>
            </li>
            <li class="nav-item">
              <a *ngIf="role === 'Admin'" class="nav-link" routerLink="/patientaction" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">PatientAction</a>
            </li>
             <li class="nav-item">
          <a *ngIf="role === 'Admin'" class="nav-link" routerLink="/registeraccount" routerLinkActive="active"  [routerLinkActiveOptions]="{ exact: true }">RegisterAccount</a>
             </li>
              
               <li class="nav-item">
              <a *ngIf="role === 'Admin' || role === 'User' " class="nav-link" routerLink="/change-password" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Change Password</a>
            </li>
            <li class="nav-item">
              <a *ngIf="role === 'Admin'" class="nav-link" routerLink="/adminaccount" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">AdminAccount</a>
            </li>
              <li class="nav-item">
              <a *ngIf="role === 'User'" class="nav-link" routerLink="/payment" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Payments</a>
            </li>
                   <li class="nav-item">
              <a *ngIf="role === 'Admin'" class="nav-link" routerLink="/payment-detail" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Payment Detail</a>
            </li>
                      <li class="nav-item">
              <a *ngIf="role === 'Admin'" class="nav-link" routerLink="/inventory-management" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Inventory Detail</a>
            </li>
                      <li class="nav-item">
              <a *ngIf="role === 'User'" class="nav-link" routerLink="/stock-request" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Stock Request</a>
            </li>
         

        </ul>
        <ul class="navbar-nav fs-3">
  
      </ul>
        <form class="d-flex " role="search">
          <input class="form-control me-2 bi-search-heart-fill " type="search" placeholder="Search" aria-label="Search"/>
          <ul >
                    <li class="nav-item dropdown list-unstyled">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Account
            </a>
            <ul class="dropdown-menu">
                    <li class="nav-item">
            <a *ngIf="!isAuthenticated()" class="nav-link" routerLink="/login" routerLinkActive="active"  [routerLinkActiveOptions]="{ exact: true }">Login</a>
          </li>
          <li class="nav-item">
          <a *ngIf="isAuthenticated()" class="nav-link"><i class="bi bi-person-circle"></i> Profile</a>
          <a *ngIf="isAuthenticated()" class="nav-link" href="#" (click)="logout()"><i class="bi bi-box-arrow-right"></i> Logout </a>
        </li>
        
            </ul>
          </li>
        </ul>
        </form>

      </div>
    </div>
  </nav>
