<div class="container mt-4">
  <h4>Generate Receipt</h4>
  <form [formGroup]="receiptForm" (ngSubmit)="submit()">
    <div class="mb-3">
      <input class="form-control" (change)="filterPayment($event)" placeholder="Patient Id" formControlName="patientId" />
    </div>
        <div class="mb-3" *ngIf="patients">
      <label class="form-control" >Patient Name</label>
       {{patients.fullName}}
    </div>
    <div *ngFor="let payment of payments">
    <div class="mb-3">
      <label class="form-control" >Payment Description</label>
        {{payment.paymentDescription}}
    </div>
  
    <div class="mb-3">
      <label class="form-control" >Amount Paid</label>
        {{payment.amount}}
    </div>
      <div class="mb-3">
      <label class="form-control" >Payment Date</label>
        {{payment.datePayment}}
    </div>
    <div class="mb-3">
      <label class="form-control" >Payment Method</label>
        {{payment.method}}
    </div>
    </div>
      <div class="mb-3">
      <input type="datetime" class="form-control" formControlName="issuedDate" placeholder="Issued Date" />
    </div>
    <button class="btn btn-primary" type="submit">Print Receipt</button>
  </form>

  <div *ngIf="generatedReceipt" class="mt-5 border p-3">
    <h5>Receipt</h5>
    <p><strong>Patient:</strong> {{ generatedReceipt.patientId }}</p>
    <p><strong>Service:</strong> {{ generatedReceipt.paymentStatus }}</p>
    <p><strong>Amount Paid:</strong> {{ generatedReceipt.amount | currency }}</p>
    <p><strong>Payment Method:</strong> {{ generatedReceipt.method }}</p>
    <p><strong>Date:</strong> {{ generatedReceipt.datePayment | date }}</p>
  </div>
</div>
