<div class="container vh-100 d-flex justify-content-center align-items-center">   
<div class="w-100" style="min-width: 1200px">
  <div class="card shadow-lg">
    <div class="card-header">
      <h2 class="text-center">Appointment Form</h2>
    </div>
      <div class="card-body">
<form [formGroup]="appointForm" (ngSubmit)="onSubmit()" class="container mt-4">
 

  <div class="mb-3">
    <label class="form-label">Patient Name</label>
    <input formControlName="patientName" type="text" class="form-control" placeholder="Enter patient name">
    <div class="text-danger" *ngIf="f['patientName'].touched && f['patientName'].invalid">
      <small *ngIf="f['patientName'].errors?.['required']">Patient Name is required.</small>
      <small *ngIf="f['patientName'].errors?.['minlength']">Minimum 5 characters required.</small>
    </div>
  </div>

  <div class="mb-3">
    <label class="form-label">Appointment Date</label>
    <input formControlName="appointmentDate" type="date" class="form-control">
    <div class="text-danger" *ngIf="f['appointmentDate'].touched && f['appointmentDate'].invalid">
      <small *ngIf="f['appointmentDate'].errors?.['required']">Appointment date is required.</small>
    </div>
  </div>

  <div class="mb-3">
    <label class="form-label">Treatment Type</label>
    <input formControlName="treatmentType" type="text" class="form-control" placeholder="Enter treatment type">
    <div class="text-danger" *ngIf="f['treatmentType'].touched && f['treatmentType'].invalid">
      <small *ngIf="f['treatmentType'].errors?.['required']">Treatment type is required.</small>
    </div>
  </div>

  <div class="mb-3">
    <label class="form-label">Dentist Name</label>
    <input formControlName="dentistName" type="text" class="form-control" placeholder="Enter dentist name">
    <div class="text-danger" *ngIf="f['dentistName'].touched && f['dentistName'].invalid">
      <small *ngIf="f['dentistName'].errors?.['required']">Dentist Name is required.</small>
    </div>
  </div>

  <button type="submit" class="btn btn-success w-100" [disabled]="appointForm.invalid">Submit</button>
</form>
      </div>
  </div>
</div>
</div>


  
  <!-- <h3>Appointments</h3>
  <ul>
    <li *ngFor="let appoint of appointments">
      {{ appoint.patientName }} - {{ appoint.appointmentDate | date }} - {{ appoint.treatmentType }} - {{ appoint.dentistName }}
    </li>
  </ul> -->
  