<div class="container-fluid mt-4 d-flex justify-content-center align-items-center bg-light">
  <div class="w-100" style="max-width: 800px;">
    <div class="card shadow-lg rounded-2">
      <div class="card-header text-center bg-primary text-white rounded-top-2">
        <h3>Account Registration Form</h3>
      </div>
      <div class="card-body p-3">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          
          <div class="mb-2">
            <label class="form-label">Full Name:</label>
            <input class="form-control" type="text" formControlName="fullName" placeholder="Enter FullName">
            <div class="error-block text-danger mt-1" *ngIf="f['fullName'].touched && f['fullName'].invalid">
              <small *ngIf="f['fullName'].errors?.['required']">Full Name is required</small>
              <small *ngIf="f['fullName'].errors?.['minlength']">Full Name must be > 5 char</small>
            </div>
          </div>

          <div class="mb-2">
            <label class="form-label">Email:</label>
            <input class="form-control" type="email" formControlName="email" placeholder="Enter Email">
            <div class="error-block text-danger mt-1" *ngIf="f['email'].touched && f['email'].invalid">
              <small *ngIf="f['email'].errors?.['required']">Email is required</small>
              <small *ngIf="f['email'].errors?.['email']">Valid Email is required</small>
            </div>
          </div>

          <div class="mb-2">
            <label class="form-label">Phone Number:</label>
            <input class="form-control" type="text" formControlName="PhoneNumber" placeholder="Enter Phone number">
            <div class="error-block text-danger mt-1" *ngIf="f['PhoneNumber'].touched && f['PhoneNumber'].invalid">
              <small *ngIf="f['PhoneNumber'].errors?.['required']">Phone Number is required</small>
              <small *ngIf="f['PhoneNumber'].errors?.['pattern']">Phone Number should be 10 digits</small>
            </div>
          </div>

          <div class="mb-2 otp-box p-3 rounded-3">
            <label class="form-label fw-bold">OTP Code:</label>
            <input class="form-control" type="text" formControlName="OtpCode" readonly>
          </div>

          <div class="mb-2 role-box p-3 rounded-3">
            <label class="form-label fw-bold">Role:</label>
            <select class="form-select" formControlName="Role">
              <option value="" disabled hidden selected>Select Role</option>
              <option value="Admin">Admin</option>
              <option value="User">User</option>
            </select>
          </div>

          <div class="mb-2">
            <label class="form-label">Password:</label>
            <input class="form-control" type="password" formControlName="password" placeholder="Enter Password">
            <div class="error-block text-danger mt-1" *ngIf="f['password'].touched && f['password'].invalid">
              <small *ngIf="f['password'].errors?.['required']">Password is required</small>
              <small *ngIf="f['password'].errors?.['minlength']">Password must be > 6 characters</small>
              <small *ngIf="f['password'].errors?.['pattern']">Password must have at least one letter, one number, and one special character</small>
            </div>
          </div>

          <div class="mb-2">
            <label class="form-label">Confirm Password:</label>
            <input class="form-control" type="password" formControlName="confirmpassword" placeholder="Enter Confirm Password">
            <div class="error-block text-danger mt-1" *ngIf="f['confirmpassword'].touched && f['confirmpassword'].invalid">
              <small *ngIf="f['confirmpassword'].errors?.['required']">Confirm Password is required</small>
              <small *ngIf="f['confirmpassword'].errors?.['mismatch']">Passwords do not match</small>
            </div>
          </div>

          <button [disabled]="!form.valid" class="btn btn-primary w-25 mx-2" type="submit">Register</button>
           <button  class="btn btn-secondary w-25" type="button" (click)="resetForm()">Clear</button> 
        </form>
      </div>
    </div> 
  </div>
</div> 
