<div class="container-fluid p-0 m-0" style="overflow-x: hidden;">
  <!-- Navbar -->
  
    <!-- <h1 class="text-center bg-primary mt-4 " >Dental Clinic</h1>
 -->

  <!-- Main content row -->
  <div class="row g-0">
    <!-- Sidebar -->
    <!-- <div class="col-md-2 bg-light vh-100 border-end">
      <div class="list-group list-group-flush">
        <a href="#" class="list-group-item list-group-item-action active "> <h2> Dashboard </h2></a>
        <a href="#" class="list-group-item list-group-item-action">Appointments</a>
        <a href="#" class="list-group-item list-group-item-action">Patients</a>
        <a href="#" class="list-group-item list-group-item-action">Dentists</a>
        <a href="#" class="list-group-item list-group-item-action">Billing</a>
        <a href="#" class="list-group-item list-group-item-action">Reports</a>
      </div>
    </div> -->

    <!-- Main Dashboard Content -->
    <!-- <div class="col-md-10 p-4"> -->
      <!-- Statistic Cards -->
      <div class="row mb-4">
        <div class="col-md-4">
          <div class="card text-white bg-success">
            <div class="card-body">
              <h5 class="card-title"><i class="bi-calendar-check mx-2"></i>Today's Appointments</h5>
              <p class="card-text fs-3 ">{{todayAppointmentsCount}}</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card text-white bg-info">
            <div class="card-body">
              <h5 class="card-title"><i class="bi-person-badge mx-2"></i>Total Patients</h5>
              <p class="card-text fs-3">{{totalPatient}}</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card text-white bg-warning">
            <div class="card-body">
              <h5 class="card-title "><i class="bi-hourglass-split mx-2 "></i>Pending Bills</h5>
              <p class="card-text fs-3">{{pendingPayments}}</p>
            </div>
          </div>
        </div>
      </div>
 <div class="row">
      <!-- Appointments Table -->
       <div class="col-md-6">
      <div class="card">
        <div class="card-header fw-bold  bg-warning">Today's Appointments</div>
        <div class="card-body p-0">
          <table class="table table-bordered mb-0">
            <thead class="table-info">
              <tr>
                <th>OrderNo</th>
                <th>patientName</th>
                <th>PhoneNumber</th>
                <th>TreatmentType</th>
                <th>DentistName</th>
                <th>AppointmentDate</th>
                <th>Status</th>
              </tr>
            </thead>
               <tbody>
                <ng-container *ngFor="let appoint of todayAppointments ; let i = index">
        <tr >
          <td>{{ i + 1 }}</td>
          <td>{{ appoint.patientName }}</td>
           <td>{{ appoint.phone }}</td>
          <td>{{ appoint.treatmentType }}</td>
          <td>{{ appoint.dentistName }}</td>
          <td>{{ appoint.appointmentDate | date:'shortDate' }}</td>
           <td >
            <span [ngClass]="{
          'badge bg-success': appoint.status === 'completed',
          'badge bg-warning text-dark': appoint.status === 'pending',
          'badge bg-danger': appoint.status === 'canceled'

            }">
            {{ appoint.status }}
          </span>
          </td>
        </tr>
        </ng-container>
        <tr *ngIf="todayAppointments.length === 0">
          <td colspan="7" class="text-center text-muted">No Appointments Found for Today</td>
        </tr>
      </tbody>
          </table>
        </div>
      </div>
      </div>

    </div>
             <div class="col-md-4 mt-3 mx-2">
       <div class="card text-white bg-info">
            <div class="card-body">
              <h5 class="card-title "> <i class="bi-credit-card-2-front mx-2"></i>Total Online Payments</h5>
              <p class="card-text fs-3">{{onlinePayments}}</p>
            </div>
          </div>
      </div>
                   <div class="col-md-4 mt-3">
       <div class="card text-white bg-warning">
            <div class="card-body">
              <h5 class="card-title"><i class="bi-cash-coin mx-2"></i>Total Cash Payments</h5>
              <p class="card-text fs-3">{{cashPayments}}</p>
            </div>
          </div>
      </div>

  </div>
      <div class="col-md-4 mt-3">
       <div class="card text-white bg-warning">
            <div class="card-body">
              <h5 class="card-title "><i class="bi-exclamation-triangle mx-2"></i>Total Low Item's  In Inventory Records</h5>
              <p class="card-text fs-3">{{LowQuantity}}</p>
            </div>
          </div>
      </div>
      <div class="w-50">
      <table class="table table-bordered">
    <thead class="table-primary">
      <tr>
        <th>#</th>
        <th>Item Name</th>
        <th>Category</th>
        <th>Quantity</th>
        <th>Unit</th>
        <th>Reorder Level</th>
     
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let supply of Supplies;   let i = index" > 
       <tr *ngIf="supply.quantity <= 5" 
        [ngClass]="{'table-danger': supply.quantity <= 5}">
        
        <td>{{ i + 1 }}</td>
        <td>{{ supply.itemName }}</td>
        <td>{{ supply.category }}</td>
        <td>{{ supply.quantity }}</td>
        <td>{{ supply.unit }}</td>
        <td>{{ supply.reorderLevel }}</td>

      </tr>
      </ng-container>
      <tr *ngIf="Supplies.length === 0">
        <td colspan="7" class="text-center text-muted">No Supplies Found</td>
      </tr>
    </tbody>
  </table>
  </div>
  <!-- </div> -->
</div>
 