/* You can add global styles to this file, and also import other style files */
.error-block{
    color:red;
}
/* Optional: Add soft background and card radius */
  html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
   background-color: #f8f9fa;
}
  
  .card {
    border-radius: 1rem;
  }
  .list-group-item {
  border-radius: 0 !important;
}
