
<div class="container mt-4">
<h1 class="text-center bg-danger p-5">List Of Accounts Page!</h1>
<div class="d-flex m-5 ">
<strong class="mt-1">Search On Box:</strong><input type="text" [(ngModel)]="serarchText" 
 class="form-control  border-danger-subtle w-50" placeholder="enter FullName or email to search"> </div>
<div class="row m-4">
<ul class="list-group mb-3 mt-3">
<li class="list-group-item d-flex justify-content-between align-items-center"  *ngFor="let account of getFilteredAccount()">
   <div class="col-md-3"> <strong>Full Name:</strong> <strong> {{account.fullName}}</strong> </div> 
  <div class="col-md-3"> <strong>Email Address:</strong>   <span> {{account.email}}</span> </div>
   <div class="col-md-3">  <strong>Role:</strong>  <span> {{account.role}}</span> </div>
    <div class="col-md-3">   <span>   {{ '*'.repeat(8) }}</span> </div>
    <button type="button" class="btn btn-danger" (click)="deleteAccount(account.id)"> <i class="bi bi-trash-fill"></i> Delete</button>
 
</li>
</ul>
</div>
</div>